section(class="offers offers_tuning")
	div(class="offers__wrapper")
		div(class="offers__content offers__content_tuning")
			
			div(class="offers__slider")
				div(class="offers__item offers__item_tuning")
					img(class="offers__item-img offers__item-img_left" data-src="i/tuning/1.png" class="lazy")
					div(class="offers__item-cotnent")
						div(class="offers__item-title") Кузов
						div(class="offers__item-description") Нет отличия от автомобильной краски


				div(class="offers__item offers__item_tuning")
					img(class="offers__item-img offers__item-img_right" data-src="i/tuning/2.png" class="lazy")
					div(class="offers__item-cotnent")
						div(class="offers__item-title") Диски и суппорты
						div(class="offers__item-description") Легко наносить на сложные формы


				div(class="offers__item offers__item_tuning")
					img(class="offers__item-img offers__item-img_right" data-src="i/tuning/3.png" class="lazy")
					div(class="offers__item-cotnent")
						div(class="offers__item-title") Хром и выхлопные трубы
						div(class="offers__item-description") Можно покрывать острые углы, округлые детали и труднодоступные места.

