section(class="offers offers_bottom-padding")
	div(class="offers__wrapper")
		div(class="offers__content")
			
			div(class="offers__item offers__item_no-img")
				div(class="offers__item-cotnent")
					div(class="offers__item-title") Прозрачная защита хрома
					div(class="offers__item-description") Прозрачное жидкое бронирование Protect имеет отличную адгезию к хромированным и пластиковым деталям, а прозрачная броня защищает деталь от сколов, царапин и реагентов на протяжении всего срока эксплуатации.

			div(class="offers__item offers__item_no-img")
				div(class="offers__item-cotnent")
					div(class="offers__item-title") Цветная защита хрома
					div(class="offers__item-description") Покраска хромированных деталей в черный глянцевый или матовый цвета является одной из самых популярных услуг. Протект позволяет, не повреждая хромированную деталь нанести «пленку», которая выглядит как краска