.text-section
    .text-section__wrapper
        .text-section__content
            .text-section__main
                h2.h3 Политика конфиденциальности сайта Protect-auto.ru
                p Какие данные собираются на сайте, с какой целью и как эти данные используются и защищаются.

                p На сайте protect-auto.ru используются куки (Cookies) и данные о посетителях сервиса Google Analytics. Сбор информации в Analytics ведется анонимно. Собираются только обобщенные данные об эффективности рекламных кампаний, например, информация о конверсиях из рекламных источников, данные об общей посещаемости сайта.

                p При помощи этих данных так же собирается информация о действиях посетителей на сайте с целью улучшения его содержания, улучшения функциональных возможностей сайта и, как следствие, создания качественного контента и сервисов для посетителей. Так из отчетов Analytics определяется, заходил ли пользователь на сайт ранее, определяется источник перехода на сайт, время проведенное на сайте, количество просмотренных страниц и другие, обезличенные данные.

                p
                    | На сайте protect-auto.ru используется 
                    a(href="https://marketingplatform.google.com/about/" rel="noopener noreferrer nofollow" target="_blank") функция ремаркетинга Google Analytics. 
                    | Использование функции ремаркетинга в Google дает возможность повторного обращения к пользователям, которые заинтересовались услугами предлагаемыми на сайте во время своих предыдущих посещений. Например, посетили страницу сайта с коммерческим предложением, но не посетили страницу контакты или не обратились через форму обратной связи. Таким пользователям может быть сделано другое, более выгодное предложение посредством контекстной рекламы в AdWords на других ресурсах Контекстно-Медийной Сети (КМС) Google. Так же, благодаря технологиям Google, обращение может быть и к похожим на попавших в списки ремаркетинга аудиториям и к аудиториям с определенными интересами.

                p Вы можете в любой момент изменить настройки своего браузера так, чтобы браузер блокировал все файлы cookie или оповещал об отправке этих файлов.

                p 
                    | Ознакомиться с 
                    a(href="https://policies.google.com/terms?hl=ru&gl=ru" rel="noopener noreferrer nofollow" target="_blank") политикой конфиденциальности Google
                    | .
                p Отключить или ограничить использование описанных выше служб:
                ul
                    li 
                        a(href="https://support.google.com/accounts/answer/32050?hl=ru", target="_blank", rel="noopener noreferrer nofollow") Очистить кеш и удалить файлы cookie
                    li
                        a(href="https://support.google.com/accounts/answer/61416?hl=ru", target="_blank", rel="noopener noreferrer") Включить или отключить сохранение файлов cookie
                    li
                        a(href="https://tools.google.com/dlpage/gaoptout/", target="_blank", rel="noopener noreferrer") Установить блокировщик Google Analytics
                
                p Данная политика конфиденциальности применяется только к сайту protect-auto.ru
                p В случае изменения данной политики конфиденциальности вы сможете прочитать об этих изменениях на этой странице или, в особых случаях, получить уведомление на свой e-mail.
                p Для связи с администратором сайта используйте e-mail: sales@protect-auto.ru