ul(class="social")
	li
		a(href="#" class="js-icon" data-icon="vk") 
	li
		a(href="#" class="js-icon" data-icon="facebook") 
	li
		a(href="#" class="js-icon" data-icon="instagram") 
	li
		a(href="#")
			img(src="./i/YT-3.png", alt="Youtube жидкое бронирование Protect") 