/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 10px 0 0!important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.custom-scrollbar > .scroll-element,
.custom-scrollbar > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.custom-scrollbar > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.custom-scrollbar > .scroll-element.scroll-x {
    top: 0;
    height: 8px;
    left: 30px;
    width: calc(100% - 60px);
}
 
.custom-scrollbar > .scroll-element.scroll-y {
    height: calc(100% - 20px);
    right: 0;
    top: 10px;
    width: 10px;
}
 
.custom-scrollbar > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.custom-scrollbar > .scroll-element .scroll-element_outer,
.custom-scrollbar > .scroll-element .scroll-element_track,
.custom-scrollbar > .scroll-element .scroll-bar {
    border-radius: 10px;

}
 
 
.custom-scrollbar > .scroll-element .scroll-element_track { background-color: $dark; }
.custom-scrollbar > .scroll-element .scroll-bar { background-color: $mainColorDarken; transition: background-color .2s ease-in; cursor: pointer; width: 6px; 
    border: 2px solid $dark;
}
.custom-scrollbar > .scroll-element:hover .scroll-bar { background-color: $mainColorDarken; }
.custom-scrollbar > .scroll-element.scroll-draggable .scroll-bar { background-color: $mainColorDarken; }


 
/* update scrollbar offset if both scrolls are visible */
 
.custom-scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.custom-scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px;}
 
 
.custom-scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.custom-scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }