section(class="banner banner_disc")
	div(class="banner__wrapper")
		div(class="banner__content banner__content_middle")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Покраска<br> и защита дисков
			p(class="banner__subtitle") Наносится как краска, снимается как пленка. Лучшее решение на рынке для покраски хрома.

		div(class="banner__social")
			include ../social/social