section(class="banner banner_product banner_product-6")
	div(class="banner__wrapper")
		div(class="banner__content banner__content_product")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Разбавитель базового слоя


		div(class="banner__img")
			img(data-src="i/products/banner/6.png" class="lazy" alt="")

		div(class="banner__social")
			include ../social/social