section(class="banner")
	div(class="banner__wrapper")
		div(class="banner__content")
			h1(class="banner__title") Жидкое<br> бронирование
			div(class="banner__subtitle") Наносится как краска,<br> снимается как пленка


		div(class="banner__social")
			include ../social/social