section(class="banner banner_contacts")
	div(class="banner__wrapper")
		div(class="banner__content banner__content_middle")
			include ../breadcrumbs/breadcrumbs
			h1(class="h2") Свяжитесь с нами  удобным для вас способом<br> и мы ответим на Ваши вопросы

			a(class="banner__tel" href="tel:+79854691299")
				div(class="banner__tel-icon js-icon" data-icon="tel")
				div(class="banner__tel-phone") +7 (985) 469-12-99


		div(class="banner__social")
			include ../social/social