section(class="banner banner_chrome")
	div(class="banner__wrapper")
		div(class="banner__content")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Покраска<br> и защита хрома
			p(class="banner__subtitle") Наносится как краска, снимается как пленка. Лучшее решение на рынке для покраски хрома.

		div(class="banner__social")
			include ../social/social