section(class="banner" style="background-image: url('i/banner/offer-1.jpg')")
	div(class="banner__wrapper")
		div(class="banner__content")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Решение<br> для СТО


		div(class="banner__social")
			include ../social/social