section(class="banner banner_products")
	div(class="banner__wrapper")
		div(class="banner__content banner__content_middle")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Что такое жидкое<br> бронирование<br> Protect?

		div(class="banner__social")
			include ../social/social