section(class="banner banner_defence")
	div(class="banner__wrapper")
		div(class="banner__content banner__content_middle")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Защита кузова<br> автомобиля


		div(class="banner__social")
			include ../social/social