section(class="banner banner_offer-1")
	div(class="banner__wrapper")
		div(class="banner__content")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Решение<br> для СТО


		div(class="banner__social")
			include ../social/social