.banner{
	background-image: url("../i/main.jpg");
	background-repeat:  no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 568px;
	padding: 1px 0;
	&_defence{
		background-image: url("../i/main/defence.jpg");
	}
	&_products{
		background-image: url("../i/main/products.jpg");
	}
	&_disc{
		background-image: url("../i/main/disc.jpg");
		background-position: right center;
	}
	&_tuning{
		background-image: url("../i/main/tuning.jpg");
		background-position: center center;
	}
	&_chrome{
		background-image: url("../i/main/chrome.jpg");
		background-position: center center;
	}
	&_contacts{
		background-image: url("../i/main/contact.jpg");
		background-position: center center;
	}
	&_offer-1{
		background-image: url("../i/main/offer-1.jpg");
		background-position: center center;
	}
	&_offer-2{
		background-image: url("../i/main/offer-2.jpg");
		background-position: center center;
	}
	&_offer-3{
		background-image: url("../i/main/offer-3.jpg");
		background-position: center center;
	}
	&_product{
		background-image: url("../i/main/product.jpg");
		position: relative;
		height: auto;
		min-height: 700px;
		padding-bottom: 130px;
		&::before{
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&_product-1{
		&::before{
			background: linear-gradient(to top, #5625D5 35%, rgba(83, 83, 165, 0.75));
		}
	}
	&_product-2{
		&::before{
			background: linear-gradient(to top, #3e3862 35%, rgba(129, 98, 191, 0.75));
		}
	}
	&_product-3{
		&::before{
			background: linear-gradient(to top, #008CCA 35%, rgba(5, 151, 208, 0.75));
		}
	}
	&_product-4{
		&::before{
			background: linear-gradient(to top, #3e3862 35%, rgba(129, 98, 191, 0.75));
		}
	}
	&_product-5{
		&::before{
			background: linear-gradient(to top, #008CCA 35%, rgba(5, 151, 208, 0.75));
		}
	}
	&_product-6{
		&::before{
			background: linear-gradient(to top, #5625D5 35%, rgba(83, 83, 165, 0.75));
		}
	}
	&_product-7{
		&::before{
			background: linear-gradient(to top, #008CCA, rgba(5, 151, 208, 0) 50%);
		}
	}


}


.banner__img{
	position: static;
	display: block;
	width: calc(100% + 40px);
	height: auto;
	margin: 0 -20px;
	img{
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}


.banner__wrapper{
	width: calc(100% - 40px);
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.banner__social{
	display: none;
}

.banner__content{
	position: absolute;
	bottom: 160px;
	left: 0;
	color: $white;
	max-width: 600px;
	&_middle{
		top: 50%;
		transform: translateY(-50%);
	}
	&_product{
		position: static;
		margin-top: 120px;
		margin-bottom: 30px;
	}
}

.banner__title{
	font-size: 38px;
	line-height: 38px;
	margin: 0 0 10px;
}


.banner__subtitle{
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}


.banner__tel{
	display: flex;
	color: $white;
	&:hover{
		text-decoration: none;
		.banner__tel-icon{
			background: $mainColorDarken;
		}
		.banner__tel-phone{
			background: $mainColorDarken;
		}
	}
}

.banner__tel-icon{
	width: 40px;
	height: 40px;
	margin: 0 10px 0 0;
	border-radius: 50%;
	background: $mainColor;
	position: relative;
	transition: all .2s ease-in;
	svg{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 60%;
		height: 60%;
		fill: $white;
	}
}

.banner__tel-phone{
	font-size: 20px;
	line-height: 40px;
	border-radius: 20px;
	padding: 0 20px;
	background: $mainColor;
	transition: all .2s ease-in;
}

@media screen and (min-width: 400px){
	.banner__wrapper{
		width: calc(100% - 80px);
	}


	.banner__title{
		font-size: 48px;
		line-height: 48px;
		margin: 0 0 10px;
	}


	.banner__subtitle{
		font-size: 24px;
		line-height: 28px;
	}
}

@media screen and (min-width: 768px){
	.banner{
		background-image: url("../i/main-desctop.jpg");
		background-size: cover;
		// height: 790px;
		height: 100vh;
		min-height: 700px;
		&_defence{
			background-image: url("../i/main/defence_desctop.jpg");
		}
		&_products{
			background-image: url("../i/main/products_desctop.jpg");
		}
		&_disc{
			background-image: url("../i/main/disc_desctop.jpg");
			background-position: center center;
		}
		&_chrome{
			background-image: url("../i/main/chrome_desctop.jpg");

		}
		&_tuning{
			background-image: url("../i/main/tuning_desctop.jpg");
		}
		&_product{
			background-image: url("../i/main/product_desctop.jpg");
			padding-bottom: 1px;
		}
		&_contacts{
			background-image: url("../i/main/contact.jpg");
			background-position: center center;
		}
		&_offer-1{
			background-image: url("../i/main/offer-1_desctop.jpg");
		}
		&_offer-2{
			background-image: url("../i/main/offer-2_desctop.jpg");
		}
		&_offer-3{
			background-image: url("../i/main/offer-3_desctop.jpg");
		}
	}


	
	.banner__img{
		position: absolute;
		bottom: 130px;
		right: 0;
		// width: auto;
		// height: auto;
		width: calc(100% - 200px);
		height: calc(100% - 300px);
		z-index: 1;
	}
	.banner__content{
		&_product{
			position: absolute;
			bottom: 160px;
			left: 0;
			max-width: 400px;
			z-index: 2;
		}
	}




}

@media screen and (min-width: 1024px){

	.banner__social{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 230px;
		display: block;
		z-index: 1;
	}

	

		
}
@media screen and (min-width: 1230px){


	.banner__tel{
		padding-top: 60px;
	}

	.banner__tel-icon{
		width: 80px;
		height: 80px;
	}

	.banner__tel-phone{
		font-size: 36px;
		line-height: 80px;
		border-radius: 40px;
	}

	.banner__title{
		display: block;
		// font-size: 64px;
		// line-height: 64px;
		font-size: 56px;
		line-height: 56px;
		font-weight: 700;
		margin: 0 0 20px;
	}
	
	.banner__subtitle{
		font-size: 30px;
		line-height: 34px;
	}
}
// @media screen and (min-width: 1400px){
// 	.banner{
// 		height: 100vh;
// 		min-height: 700px;
// 	}
	
// }