section(class="banner banner_tuning")
	div(class="banner__wrapper")
		div(class="banner__content")
			include ../breadcrumbs/breadcrumbs
			h1(class="banner__title") Тюнинг
			p(class="banner__subtitle") Новый цвет автомобиля, который защищает родное покрытие и при необходимости легко снимается.

		div(class="banner__social")
			include ../social/social