section(class="about")
	div(class="about__wrapper")
		div(class="about__content")
			div(class="about__title-block text_center")
				div(class="small-title") Применение
				h2 Жидкое бронирование Protect
				p(class="about__subtitle") Наносится как краска, снимается как пленка


			a(href="#" class="about__item")
				div(class="about__item-content")
					div(class="about__item-text")
						h3(class="about__item-title") Защита - прозрачное бронирование
						p Protect абсолютно прозрачен и может быть нанесен на детали даже самых сложных форм, когда пленка бессильна
					div(class="about__item-arrow-block")
						div(class="about__item-arrow js-icon" data-icon="arrow")
				div(class="about__item-img")
					img(data-src="i/about/1.jpg" class="lazy" alt="Защита - прозрачное бронирование")

			a(href="#" class="about__item")
				div(class="about__item-content")
					div(class="about__item-text")
						h3(class="about__item-title") Покраска и защита хрома
						p Обладает отличной адгезией к хрому, его не нужно шкурить или повреждать. Жидкое бронирование защитит хром от повреждений или реагентов и при необходимости легко снимается
					div(class="about__item-arrow-block")
						div(class="about__item-arrow js-icon" data-icon="arrow")
				div(class="about__item-img")
					img(data-src="i/about/2.jpg" class="lazy" alt="Покраска и защита хрома")

			a(href="#" class="about__item")
				div(class="about__item-content")
					div(class="about__item-text")
						h3(class="about__item-title") Тюнинг - цветное бронирование
						p Обладает автомобильным глянцем и визуально неотличим от классической краски, полируется как обычное ЛКП
					div(class="about__item-arrow-block")
						div(class="about__item-arrow js-icon" data-icon="arrow")
				div(class="about__item-img")
					img(data-src="i/about/3.jpg" class="lazy" alt="Тюнинг - цветное бронирование")

			a(href="#" class="about__item")
				div(class="about__item-content")
					div(class="about__item-text")
						h3(class="about__item-title") Покраска дисков
						p Цветное и прозрачное жидкое бронирование подходит для покраски дисков и мелких элементов.  Защищает диски от сколов, может придать им новый вид изменив цвет и всегда имеет автомобильный глянец и может быть снята без повреждения родной краски диска
					div(class="about__item-arrow-block")
						div(class="about__item-arrow js-icon" data-icon="arrow")
				div(class="about__item-img")
					img(data-src="i/about/4.jpg" class="lazy" alt="Покраска дисков")
