.header {
  min-height: 60px;
}

.header__logo1 {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  float: right;
  margin-right: 30px;

  &::before {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
}

.header-nav {
  display: inline-block;
  min-height: 60px;
  text-align: center;

  &__link {
    display: inline-block;
    padding: 20px;
    vertical-align: middle;

  }
}

.header-nav, .header__logo1 {
  a {
    color: black;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.bg {
  margin-top: 60px;
  min-height: 500px;
  background-image: url('../i/video.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    background-image: url('../i/logo.svg');
    position: absolute;
    top: 81px;
    right: 28px;
    width: 160px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }


  & h1 {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
    color: white;
  }

}


.offers {
  width: 100%;
  display: inline-block;
  background: #363745;
  padding-bottom: 60px;
  // min-height: 600px;

  ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
  }

  li {
    display: inline-block;
    width: calc(30%);
    background: lighten($color: #363745, $amount: 10%);
    color: #FFF;
    padding: 10px 0 80px;
    margin: 10px;
    border-radius: 10px;
    vertical-align: middle;
  }

  & .offers__header {
    font-weight: bold;
    margin-top: 10px;
    // font-size: px;
    padding-bottom: 10px;

  }

  & .offers__text {
    
    display: block;
    min-height: 60px;
    margin: 10px;
  }

  & button {
    border: none;
    border-radius: 5px;
    padding:10px;
    font-size: 14px;
    color: red;
    background-color: white;
    width: 80%;
    box-shadow: 1px -1px 6px 2px rgba(0,0,0,0.5);
    border: 1px solid white;
    cursor: pointer;
    margin-top: 20px;

    &:hover, &:active {
      background-color: darken($color: white, $amount: 30%);
      color: black;
      box-shadow: 2px -2px 22px 2px rgba(0,0,0, 0.5);
      border: 1px solid darken($color: white, $amount: 30%);

    }
    &:focus {
      border: 1px solid black;
      box-shadow: none;
      outline: none;
    }

  }

}
.video {
  min-height: 400px;
  // background: lighten($color: #363745, $amount: 20%);
  // background-image: url('../i/main-desctop.jpg');
  // background-position: top;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #FFF;
  padding: 0;


  & .video__wrapper_my {
    position: relative;
    top:-40px;
    border-radius: 10px 10px;
    min-height: 600px;
    margin: 0 10px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 315 72' fill='%23FFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.41 70.89H0V.2C3.94.2 15.14 0 20.08 0c20.8 0 27.36 11.1 27.36 22.72 0 12.02-8.99 22.92-25.84 22.92-2.12 0-6.16 0-9.19-.3V70.9zM21.3 11.6c-2.53 0-5.56.1-8.89.2v21.72c2.93.3 5.96.5 8.79.5 7.36 0 13.12-3.53 13.12-11.41 0-7.37-4.55-11-13.02-11zM58.44 70.9h11.6v-30.5c1.32-2.62 3.44-4.84 7.47-4.84 2.43 0 3.64.4 5.86 1.71l4.14-10.9c-1.52-1.11-3.34-1.72-7.07-1.72-5.45 0-8.28 2.32-10.4 5.25v-4.44h-11.6v45.44zm32.9-22.72c0-13.63 9.69-23.83 24.73-23.83 15.04 0 24.73 10.2 24.73 23.83 0 13.63-9.7 23.83-24.73 23.83-15.04 0-24.73-10.2-24.73-23.83zm12.41 0c0 7.57 5.25 13.02 12.32 13.02 7.17 0 12.41-5.15 12.41-13.02 0-7.68-5.35-12.93-12.41-12.93-6.86 0-12.31 5.05-12.31 12.93zm46.13 5.45c0 11.61 3.84 18.28 14.13 18.28 5.85 0 10.7-2.22 13.42-4.44l-3.53-9c-1.61 1.22-3.83 2.63-6.96 2.63-3.84 0-5.45-3.23-5.45-8.18V36.35h14.63v-10.9H161.5V12.82h-11.61v40.8zm72.97 4.55l3.33 8.17c-4.54 3.84-11 5.66-17.36 5.66-14.63 0-24.42-9.5-24.42-23.83 0-13.23 9.08-23.83 24.02-23.83 11.7 0 21.5 8.38 21.5 21.1 0 2.83-.2 4.55-.71 6.26h-32.8c1 6.87 6.46 10.6 13.62 10.6 5.56 0 10.2-2.01 12.82-4.13zm-14.94-24.14c-6.96 0-10.7 3.94-11.9 9.9h22.3c.1-5.56-3.74-9.9-10.4-9.9zm65.81 21.61c-2.93 3.23-6.76 5.55-11.7 5.55-6.87 0-13.13-4.94-13.13-13.02 0-7.98 6.16-12.93 12.62-12.93 4.14 0 7.87 1.11 11.3 4.45l5.45-9.2c-4.24-4.23-10.8-6.15-18.27-6.15-13.82 0-23.51 10.6-23.51 23.83 0 14.34 9.89 23.83 24.62 23.83 7.37 0 14.23-2.73 18.07-7.88l-5.45-8.48zm13.73-2.02c0 11.61 3.83 18.28 14.13 18.28 5.85 0 10.7-2.22 13.42-4.44l-3.53-9c-1.62 1.22-3.84 2.63-6.97 2.63-3.83 0-5.45-3.23-5.45-8.18V36.35h14.64v-10.9h-14.64V12.82h-11.6v40.8z'/%3E%3C/svg%3E") no-repeat center 270px,#F7F7FA;
    background-size: 60%;

    color: black;
  }
}


