section(class="how-to how-to_no-transform")
	div(class="how-to__wrapper")
		div(class="how-to__content")
			h2(class="how-to__title text_center") Как оказывается услуга?

			div(class="how-to__items")
				div(class="how-to__item")
					div(class="how-to__img-block")
						div(class="how-to__item-img")
							img(class="lazy" data-src="i/how-to/1.jpg" alt="Подготовка авто")
					div(class="how-to__item-content")
						h3 Подготовка авто
						p Мойка, снятие основных деталей, оклеивание кузова автомобиля

				div(class="how-to__item")
					div(class="how-to__img-block")
						div(class="how-to__item-img")
							img(class="lazy" data-src="i/how-to/2.jpg" alt="Процесс нанесения")

					div(class="how-to__item-content")
						h3 Процесс нанесения
						p Первый слой наносится напылом, далее увеличивается подача материала для формирования защитного слоя. После наносится оптимайзер и финишный слой

				div(class="how-to__item")
					div(class="how-to__img-block")
						div(class="how-to__item-img")
							img(class="lazy" data-src="i/how-to/3.jpg" alt="Полировка")

					div(class="how-to__item-content")
						h3 Полировка
						p Через 1 - 2 суток автомобиль локально полируется при необходимости


			div(class="how-to__imprtant-info text_center")
				span(class="h3") Процесс покрытия всего авто занимает от 3-х до 4-х суток
