.breadcrumbs{
	margin: 0 0 20px;

	text-transform: uppercase;
	ol{
		li{
			display: inline-block;
			font-size: 12px;
			line-height: 18px;
			&::before{
				display: none;
			}
			&::after{
				display: inline-block;
				margin: 0 5px;
				content:  "/";
				color: transparentize($color: $white, $amount: .55);
			}
			&:last-child::after{
				display: none;
			}
			a{
				color: transparentize($color: $white, $amount: .55);
				&:hover{
					color: $mainColor;
					text-decoration: none;
				}
			}
			> span{
				color: $white;
			}
		}
	}
}