section(class="contacts-form extended_padding")
	div(class="contacts-form__wrapper")
		div(class="contacts-form__cotnent")
			form(class="contacts-form__form")
				h2.h3 Оставьте заявку, для сотрудничества
				input(type="text" name="name" placeholder="Ваше имя" required)
				input(type="tel" name="tel" placeholder="Телефон")
				input(type="email" name="email" placeholder="E-mail")

				label(class="check")
					input(class="check__input" type="checkbox" name="ofer" checked required)
					span(class="check__box")
					span(class="check__text") Я согласен на обработку персональных данных
				
				div(class="contacts-form__btn-block text_center")
					button(type="submit" class="btn btn_center") Отправить

section.req
	.req__wrapper
		.req__content
			span.h2 Реквизиты
			span.h3 ИП Дергачев Иван Михайлович
			p ИНН: 231122490334
			p ОГРН: 312231108700171
			p Адрес: г. Краснодар Дзержинского 221 кв. 68, 350005
			p Счета выставляются без НДС.
			p 
				| Для получения банковских реквизитов просьба отправить запрос на эл. почту 
				a(href="mailto:sales@protect-auto.ru", target="_blank", rel="noopener noreferrer") sales@protect-auto.ru









