section(class="price")
	div(class="price__wrapper")
		div(class="price__content")
			div(class="price__header")
				h2(class="price__title text_center") Сколько стоит?

			div(class="price__cards")

				div(class="prcie__item active")
					div(class="price__item-img")
						img(data-src="i/price/1.png" class="lazy" alt="")


					button(type="button" class="prcie__item-button")
						span(class="price__item-title") Бронирование переда автомобиля
						span(class="price__item-description") Бампер, капот, боковые крылья и зеркала
						span(class="price__item-value") От 38 900 Р


				div(class="price__note")
					div(Class="price__note-item price__note-item_blue") * Синим цветом показана защищенная поверхность, которая покрывается прозрачным бронированием Protect
					div(Class="price__note-item") ** Указана предварительная стоимость для габаритов авто класса А, для точного расчета – оставляйте заявку или звоните


				div(class="prcie__item")
					div(class="price__item-img")
						img(data-src="i/price/2.png" class="lazy" alt="")


					button(type="button" class="prcie__item-button")
						span(class="price__item-title") Бронирование всего автомобиля
						span(class="price__item-description") Все элементы кузова
						span(class="price__item-value") От 38 900 Р