section(class="about-page")
	div(class="about-page__wrapper")
		div(class="about-page__content")
			p Жидкое бронирование Protect – это снимаемое автомобильное покрытие, которое полностью заменяет полиуретановые прозрачные пленки (такие как SunTek, Hexis, Stek, Lumar и прочие), и защищает кузов автомобиля от сколов, царапин и реагентов.<br> Жидкое бронирование Protect наносится как краска и после высыхания образует абсолютно прозрачную глянцевую или матовую пленку на кузове автомобиля, которая имеет толщину более 200 микрон.
