section(class="characteristics")
	div(class="characteristics__wrapper")
		div(class="characteristics__content")
			h2(class="characteristics__title text_center") Технические характеристики Protect. Толщина и прочность жидкого бронирования

			div(class="characteristics__table-block")
				div(class="characteristics__table")
					table
						thead
							tr
								th Свойство
								th Тех. регламент
								th Результат

						tbody
							tr
								td Общая толщина бронирования
								td -
								td 200-250 мкм
							tr
								td Адгезия покрытия
								td ASTM D3330
								td 760 N/m
							tr
								td Коэф. удлинения
								td ASTM D638-10
								td 430 %
							tr
								td Температурный режим
								td 
								td 119C
							tr
								td Устойчивость к протиранию
								td Тейбер тест
								td Покрытие стойкое
							tr
								td Химическая устойчивость
								td Изопропиловый спирт
								td Покрытие стойкое
							tr
								td Химическая устойчивость
								td Гексан
								td Покрытие стойкое
							tr
								td Устойчивсть к ультрафиолету
								td QUV 2500 часов
								td Тест пройден
							tr
								td Устойчивость к температуре
								td 70С 2500 часов
								td Тест пройден








