section(class="expluatation expluatation_no-transform")
	div(class="expluatation__wrapper")
		div(class="expluatation__content")
			div(class="expluatation__title-block")
				h2(class="expluatation__title text_center") Как эксплуатируется авто?


			div(class="expluatation__item")
				div(class="expluatation__img-block")
					div(class="expluatation__item-img")
						img(class="lazy" data-src="i/expluatation/1.jpg" alt="")

				div(class="expluatation__item-content")
					div(class="important-tag")
						div(class="important-tag__title") Срок эксплуатации
						div(class="important-tag__value") до 5 лет
					div(class="expluatation__item-text") Можно мыть, полировать, наносить керамику, клеить стикеры или рекламные наклейки

			div(class="expluatation__item expluatation__item_reverse")
				div(class="expluatation__img-block")
					div(class="expluatation__item-img")
						img(class="lazy" data-src="i/expluatation/2.jpg" alt="")

				div(class="expluatation__item-content")
					
					div(class="expluatation__item-text") Жидкое бронирование снимается как обычная антигравийная пленка. После снятия на кузове автомобиля не остается следов клея



			div(class="expluatation__item")
				div(class="expluatation__img-block")
					div(class="expluatation__item-img")
						img(class="lazy" data-src="i/expluatation/3.jpg" alt="")

				div(class="expluatation__item-content")
					div(class="expluatation__item-text") Способ нанесения жидкого бронирования Protect позволяет залить уже имеющиеся царапины и сколы на кузове автомобиля, что позволяет восстановить родной цвет.