section(class="product-content")
	div(class="product-content__wrapper")
		div(class="product-content__content" id="product-content-tabs")
			div(class="product-content__tabs")
				div(class="product-content__tabs-wrapper")
					button(class="product-content__tab active js-tab-button" data-tabs="#product-content-tabs" type="button") Процесс нанесения
					button(class="product-content__tab js-tab-button" data-tabs="#product-content-tabs" type="button") Толщина и прочность жидкого бронирования


			div(class="product-content__text js-tab-content active")
				p Протект наносится на кузов автомобиля и отлично защищает ЛКП автомобиля от сколов, царапин и повреждений. Но так как жидкое бронирование — это напыляемое защитное покрытие, которое имеет толщину 200+ мкм, то оно способно залить уже имеющийся царапины и сколы на кузове автомобиля глубиной до 50-75 мкм.  Именно поэтому Protect позволяет восстанавливать новый вид ЛКП автомобиля (скрывает имеющиеся царапины на кузове), защищает кузов автомобиля напыляемой пленкой, а также обеспечивает экономию времени работ на подготовке (полировке) автомобиля, как это происходит при наклеивании антигравийной пленки.   После нанесения бронирования Protect автомобиль получает новый вид, а также гарантированную защиту кузова толщиной более 200 мкм. Жидкое бронирование может быть прозрачным или колерованным (цветным), а также иметь глянцевую или матовую фактуру. Протект состоит из трех важных слоев: базовый слой (прозрачный или цветной), слой оптимайзера, финишный слой (матовый или глянцевый). Эта композиция материалов позволяет обеспечить защиту родной краски автомобиля, при желании изменить цвет, а так же покрытие может быть снято без всяких повреждений или следов клея на кузове автомобиля. Базовый слой жидкого бронирования обеспечивает толщину пленке, имеет абсолютную адгезию к любым материалам (металл, пластик, хром), защищает родное ЛКП автомобиля от повреждения за счет своей толщины. Если наносится цветное покрытие, то именно базовый слой доносит пигмент до кузова автомобиля и изменяет цвет автомобиля. При покраске жидким бронированием за 8-11 слоев базовый слой Протект дает толщину от 160 мкм, а совокупная толщина всех компонентов будет более 210 мкм. Оптимайзер – это важный функциональный компонент, который позволяет финишному слою иметь высокую растекаемость и в конечном итоге получить покрытие, которое выглядит неотличимо от автомобильной краски.   Финишный слой жидкого бронирования может иметь матовую или глянцевую фактуру. Последний слой бронирования дает возможность полировать пленку, фильтрует УФ лучи, стоек к царапинам. А при нагревании обладает самовосстанавливающими свойства. Царапины на жидком покрытии затягиваются при нагревании. Финишный слой жидкого бронирования имеет целевую толщину от 50 мкм.


			div(class="product-content__text js-tab-content")
				p вторая вкладка