footer(class="footer")
	div(class="footer__wrapper")
		div(class="footer__content")
			div(class="footer__about")
				div(class="footer__logo")
					img(src="i/logo.svg" alt="protect - логотип")

				div(class="footer__contacts")
					a(href="#" class="footer__call-item js-icon" data-icon="whatsapp")
					a(href="#" class="footer__call-item js-icon" data-icon="phone")
					a(href="tel:+79854691299" class="footer__tel") 8 (985) 469-12-99

			div(class="footer__nav")

				div(class="footer__nav-column")
					div(class="footer__nav-title") Продукты
					ul
						li
							a(href="#") База
						li
							a(href="#") Лак
						li
							a(href="#") Растворитель для базы
						li
							a(href="#") Растворитель для лака
						li
							a(href="#") Оптимайзер

				div(class="footer__nav-column")
					div(class="footer__nav-title") Применение
					ul
						li
							a(href="#") Как работает Protect
						li
							a(href="#") Защита
						li
							a(href="#") Тюнинг
						li
							a(href="#") Модификация хрома
						li
							a(href="#") Диски

				div(class="footer__nav-column")
					div(class="footer__nav-title") Сотрудничество
					ul
						li
							a(href="#") Предложение для дистрибьютеров
						li
							a(href="#") Решение для СТО
						li
							a(href="#") Решение для детейлинг-центра
						li
							a(href="#") Решение для диллерских автосалонов

				div(class="footer__nav-column")
					div(class="footer__nav-title") Наши партнеры
					ul
						li
							a(href="#") Дистрибьюторы
						li
							a(href="#") Авторизованные центры



			div(class="footer__social")
				include ../social/social


div(class="modal" id="video-modal")
	div(class="modal__backing")
	div(class="modal__content modal__content_video")
		div(class="modal__video")