section(class="services")
	div(class="services__wrapper")
		div(class="services__content")

			div(class="services__title-block text_center")
				div(class="small-title") Применение
				h2 Оказание услуг<br> с применением Protect легко можно<br> внедрить в ваш бизнес


			div(class="services__cards")

				a(href="#" class="services__item")
					div(class="services__item-img")
						img(class="lazy" data-src="i/services/1.jpg" alt="Предложение для СТО")
					div(class="services__item-content")
						h3 Предложение для СТО
						p Дополнительная загрузка малярной камеры
						div(class="services__item-arrow js-icon" data-icon="arrow")

				a(href="#" class="services__item")
					div(class="services__item-img")
						img(class="lazy" data-src="i/services/2.jpg" alt="Предложение для детейлинг центров")
					div(class="services__item-content")
						h3 Предложение для детейлинг центров
						p Повышение маржинальности на услугах защиты ЛКП в сравнении с пленками

						div(class="services__item-arrow js-icon" data-icon="arrow")

				a(href="#" class="services__item")
					div(class="services__item-img")
						img(class="lazy" data-src="i/services/3.jpg" alt="Предложение для авто-дилеров")
					div(class="services__item-content")
						h3 Предложение для авто-дилеров
						p Возможность с минимальным разбором автомобиля изменить цыет, которого нет в стоке
						div(class="services__item-arrow js-icon" data-icon="arrow")