section(class="order")
	div(class="order__title-block text_center")
		h2 Внедрить услугу в Ваш бизнес
	div(class="order__wrapper")
		div(class="order__img")
			img(data-src="i/order/1.jpg" class="lazy" alt="Оставьте заявку, для сотрудничества")

		div(class="order__content")
			form(class="order__form ajax_form" method="post" action="")
				h3 Оставьте заявку, для сотрудничества
				input(type="text" name="name" placeholder="Ваше имя" required)
				input(type="tel" name="tel" placeholder="Телефон")
				input(type="email" name="email" placeholder="E-mail")

				label(class="check")
					input(class="check__input" type="checkbox" name="ofer" required)
					span(class="check__box")
					span(class="check__text") Я согласен на обработку персональных данных
				
				div(class="order__form-btn-block text_center")
					button(type="submit" class="btn btn_center") Отправить
