section(class="docs")
	div(class="docs__wrapper")
		div(class="docs__content text_center")
			h2 Документы

			div(class="docs__items")
				a(href="#" class="docs__item")
					div(class="docs__item-icon js-icon" data-icon="pdf")
					div(class="docs__item-text") Процесс нанесения<br> Базового слоя
				a(href="#" class="docs__item")
					div(class="docs__item-icon js-icon" data-icon="pdf")
					div(class="docs__item-text") Толщина и прочность жидкого бронирования<br> Базового слоя
				a(href="#" class="docs__item")
					div(class="docs__item-icon js-icon" data-icon="pdf")
					div(class="docs__item-text") Процесс нанесения<br> Базового слоя
				a(href="#" class="docs__item")
					div(class="docs__item-icon js-icon" data-icon="pdf")
					div(class="docs__item-text") Толщина и прочность жидкого бронирования<br> Базового слоя
