section(class="partners")
	div(class="partners__wrapper")
		div(class="partners__content")
			div(class="partners__text")
				h2(class="partners__title") Купить Protect или записаться на услуги по бронированию можно у наших партнеров


				div(class="partners__btn-block")
					a(href="#" class="btn btn_white btn_center") Дитстрибьютеры
					a(href="#" class="btn btn_white btn_center") Авторизованные центры