section(class="problems problems_no-transform")
	div(class="problems__wrapper")
		div(class="problems__content")
			h2(class="problems__title text_center") Основные проблемы, с которыми сталкивается автовладелец при эксплуатации антигравийной пленки

			div(class="problems__step")
				div(class="problems__step-number") 1

				div(class="problems-step__row")

					div(class="problems-step__item")
						div(class="problems-step__subtitle") Проблема
						div(class="problems-step__cotnent")
							h3 Стрессовая усадка пленки
							div(class="problems-step__text") Антигравийные пленки подвержены стрессовому растяжению при нагреве и нанесении. В результате, во время эксплуатации, повышается риск отклеивания в углах деталей.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/1.jpg" alt="")

					div(class="problems-step__item problems-step__item_blue")
						div(class="problems-step__subtitle") Решение
						div(class="problems-step__cotnent")
							h3 Жидкое бронирование не подвержено усадке после нанесения
							div(class="problems-step__text") Покрытие формируется непосредственно на кузове автомобиля и после высыхания не происходит процессов усадки.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/2.jpg" alt="")

			div(class="problems__step")
				div(class="problems__step-number") 2

				div(class="problems-step__row")

					div(class="problems-step__item")
						div(class="problems-step__subtitle") Проблема
						div(class="problems-step__cotnent")
							h3 Трудности покрытия острых углов и округлых деталей
							div(class="problems-step__text") Потенциальные места надрывов пленки из-за высокого натяжения.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/3.jpg" alt="")

					div(class="problems-step__item problems-step__item_blue")
						div(class="problems-step__subtitle") Решение
						div(class="problems-step__cotnent")
							h3 Покрытие самых сложных форм и деталей
							div(class="problems-step__text") Способ нанесения Protect позволяет существенно сэкономить время при покрытии мелких деталей и сложных форм.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/4.jpg" alt="")

			div(class="problems__step")
				div(class="problems__step-number") 3

				div(class="problems-step__row")

					div(class="problems-step__item")
						div(class="problems-step__subtitle") Проблема
						div(class="problems-step__cotnent")
							h3 Отличающаяся от автомобильной шагрень
							div(class="problems-step__text") Большинство пленок визуально отличаются от родного ЛКП, имеют большую шагрень или меньший уровень глянца.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/5.jpg" alt="")

					div(class="problems-step__item problems-step__item_blue")
						div(class="problems-step__subtitle") Решение
						div(class="problems-step__cotnent")
							h3 Заводская шагрень или зеркально ровная поверхность
							div(class="problems-step__text") Возможность полировки жидкого бронирования позволяет получить пленку аналогичную родному покрытию.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/6.jpg" alt="")

			div(class="problems__step")
				div(class="problems__step-number") 4

				div(class="problems-step__row")

					div(class="problems-step__item")
						div(class="problems-step__subtitle") Проблема
						div(class="problems-step__cotnent")
							h3 Вероятность появления пыли под пленкой
							div(class="problems-step__text") Отсутсвует возможность удалить пыль без переклеивания детали целиком.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/7.jpg" alt="")

					div(class="problems-step__item problems-step__item_blue")
						div(class="problems-step__subtitle") Решение
						div(class="problems-step__cotnent")
							h3 Возможность локального удаления пыли с покрытия при попадании
							div(class="problems-step__text") При попадании пыли на жидкое бронирование во время нанесения, ее можно локально полировать.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/8.jpg" alt="")

			div(class="problems__step")
				div(class="problems__step-number") 5

				div(class="problems-step__row")

					div(class="problems-step__item")
						div(class="problems-step__subtitle") Проблема
						div(class="problems-step__cotnent")
							h3 После снятия на кузове автомобиля остается клей, который трудно удалить
							div(class="problems-step__text") Трудно удалить остатки клеевого состава после демонтажа пленки.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/9.jpg" alt="")

					div(class="problems-step__item problems-step__item_blue")
						div(class="problems-step__subtitle") Решение
						div(class="problems-step__cotnent")
							h3 Не оставляет следов клея на кузове автомобиля после снятия
							div(class="problems-step__text") В жидком бронировании не используется клеевой состав, поэтому нет следов клея на кузове автомобиля после снятия пленки.

						div(class="problems-step__img-block")
							div(class="problems-step__img")
								img(class="lazy" data-src="i/problems/10.jpg" alt="")
