section(class="work")
	div(class="work__wrapper")
		div(class="work__content")
			h2(class="work__title text_center") Как работает жидкое бронирование
			p(class="work__subtitle text_center") Protect состоит из трех слоев:

			ol(class="work__list")
				li(class="work__item")
					div(class="work__item-title-block")
						h3(class="work__item-title") Базовый слой
						p(class="work__item-subtitle") (прозрачный или цветной) 
					p обеспечивает толщину пленке, имеет абсолютную адгезию к любым материалам (металл, пластик, хром), защищает родное ЛКП автомобиля от повреждений.
				li(class="work__item")
					div(class="work__item-title-block")
						h3(class="work__item-title") Слой оптимайзера
					p функциональный компонент, который позволяет финишному слою иметь высокую растекаемость и в конечном итоге получить покрытие, которое выглядит неотличимо от автомобильной краски
				li(class="work__item")
					div(class="work__item-title-block")
						h3(class="work__item-title") Финишный
						p(class="work__item-subtitle") (матовый или глянцевый)
					p дает возможность полировать пленку, фильтрует УФ лучи, стоек к царапинам

			div(class="work__illustration")
				span
				span
				span

			div(class="text_center")
				a(href="#" class="btn btn_center") Подробнее
