section(class="advantages")
	div(class="advantages__wrapper")
		div(class="advantages__content js-advantages-slider")

			div(class="advantages__item advantages__item_thin advantages__item_mid")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv6")
				div(class="advantages__item-title") Восстановление родного ЛКП

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv7")
				div(class="advantages__item-title") Мошки, смола, бензин

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv8")
				div(class="advantages__item-title") Мелкие царапины и ДТП

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv9")
				div(class="advantages__item-title") Защита хрома

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv10")
				div(class="advantages__item-title") Гравий на дороге

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv11")
				div(class="advantages__item-title") Реагенты и химия

			div(class="advantages__item advantages__item_small advantages__item_thin")
				div(class="advantages__item-icon advantages__item-icon_center js-icon" data-icon="adv12")
				div(class="advantages__item-title") Выгорание