section(class="advantages advantages_small-padding")
	div(class="advantages__wrapper")
		div(class="advantages__content js-advantages-slider")

			div(class="advantages__item")
				div(class="advantages__item-icon js-icon" data-icon="adv3")
				div(class="advantages__item-title") Нет отличия от автомобильной краски
				div(class="advantages__item-text") Используется стандартное оборудование   малярного цеха

			div(class="advantages__item")
				div(class="advantages__item-icon js-icon" data-icon="adv4")
				div(class="advantages__item-title") Можно наносить<br> на хром
				div(class="advantages__item-text") Используется стандартное оборудование   малярного цеха

			div(class="advantages__item")
				div(class="advantages__item-icon js-icon" data-icon="adv5")
				div(class="advantages__item-title") Просто колеруется
				div(class="advantages__item-text") Как по RAL, так и в перламутр или хамелеон.
