section(class="video video_white video_transform")
	div(class="video__wrapper")
		div(class="video__cotnent")
			div(class="video__text")
				p.
					Жидкое бронирование Protect – <br>
					это снимаемое автомобильное покрытие <br>
					(или еще можно назвать как напыляемая пленка), которое совместило в себе преимущества полиуретановых пленок<br>
					и автомобильных красок. <br>
					Жидкое бронирование, после нанесения на кузов автомобиля через краскопульт, образует снимаемую прозрачную или цветную пленку толщиной более 200 мкм, имеющую автомобильную шагрень и блеск. Бронирование Protect может наноситься на детали любых форм, в отличие от пленок.  Протект (или Покрытие) имеет одинаково хорошую адгезию к металлу, пластику и даже хрому.

			div(class="video__btn-block")
				button(class="video__btn js-modal-video" data-video-modal="#video-modal" data-video='<iframe src="https://www.youtube.com/embed/tqqqT_NRoeI?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' type="button")
					span(class="video__btn-icon js-video-play js-icon" data-icon="play")
					span(class="video__btn-text") Смотреть видео

