section(class="products")
	div(class="products__wrapper")
		div(class="products__content")
			div(class="products__header text_center")
				h2(class="products__title") Жидкое бронирование Protect состоит из нескольких компонентов, каждый из которых обеспечивает необходимые защитные свойства


			div(class="products__items-wrapper")
				div(class="products__items")
					div(class="products__item")
						a(class="products__item-img" href="#")
							img(data-src="i/products/products/1.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Базовый слой
								p Однокомпонентное покрытие с высоким сухим остатком, отличной адгезией ко всем материалам.
								p Толщина: 150-180 мкм

							div(class="products__item-button text_center")
								a(href="#" class="btn btn_center btn_small") Подробнее
					div(class="products__item")
						a(class="products__item-img" href="#")
							img(data-src="i/products/products/2.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Разбавитель базового слоя
								p Позволяет корректировать вязкость  при нанесении базового слоя.

							div(class="products__item-button text_center")
								a(href="#" class="btn btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/3.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/3.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/4.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/5.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/5.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/1.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее

					div(class="products__item")
						a(class="products__item-img" href="#") 
							img(data-src="i/products/products/2.png" alt="" class="lazy")

						div(Class="products__item-content")
							div(Class="products__item-text")
								h3 Оптимайзер
								p Обеспечивает идеально ровную поверхность базового слоя, что позволяет финишному слою вид автомобильной краски

							div(class="products__item-button text_center")
								a(href="#" class="btn  btn_center btn_small") Подробнее
