section(class="about-product")
	div(class="about-product__wrapper")
		div(class="about-product__content")
			
			div(class="about-product__img")
				img(class="about-product__img-spot lazy" data-src="i/products/spots/6.png" alt="")
				img(class="about-product__img-product lazy" data-src="i/products/6.png" alt="")

			div(class="about-product__text")
				p Базовый слой жидкого бронирования Protect представляет собой однокомпонентное покрытие с высоким сухим остатком, отличной адгезией ко всем материалам: неокрашенному металлу, окрашенной поверхности, пластику, хрому.
				p Базовый слой Протекта наносится с помощью краскопульта HVLP 2.0 в 8-11 слоев и обеспечивает основную толщину результирующей пленки. 
				p Целевая толщина базового слоя жидкого 
				p бронирования – 150-180 мкм. 
				p Подробную техническую информацию смотрите по ссылке.

