doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_chrome
				include blocks/offers/offers_chrome
				include blocks/chrome-illustration/chrome-illustration 

				include blocks/video/video
				include blocks/how-to/how-to_no-transform
				include blocks/video/video

				include blocks/expluatation/expluatation_no-transform
				//- include blocks/video/video_white
				//- include blocks/problems/problems_no-transform

				include blocks/order/order
			include blocks/footer/footer