doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_contacts
				//- include blocks/contacts-form/contacts-form
				include blocks/confidential/confidential

			include blocks/footer/footer