doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_defence
				include blocks/advantages/advantages_defence
				include blocks/how-to/how-to
				include blocks/expluatation/expluatation
				include blocks/problems/problems
				include blocks/price/price


				include blocks/order/order
			include blocks/footer/footer