doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner
				include blocks/advantages/advantages
				include blocks/work/work
				include blocks/video/video
				include blocks/about/about
				include blocks/services/services
				include blocks/order/order
				include blocks/partners/partners
				include blocks/contacts/contacts
			include blocks/footer/footer