doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_offer-1
				include blocks/advantages/advantages_offer


				include blocks/technologies/technologies




				include blocks/order/order


			include blocks/footer/footer