doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_product-7
				include blocks/about-product/about-product_7
				include blocks/product-content/product-content
				include blocks/docs/docs




				include blocks/order/order
			include blocks/footer/footer