doctype
html(lang="ru")
	head
		include blocks/meta/meta
	body
		div(class="wrapper")
			main
				include blocks/header/header
				include blocks/banner/banner_products
				include blocks/about-page/about-page

				include blocks/products/products
				include blocks/about-defence/about-defence

				include blocks/work/work_inside
				include blocks/characteristics/characteristics



				include blocks/order/order
			include blocks/footer/footer