doctype
html(lang="ru")
  head
    include blocks/meta/meta
  body
    div(class="wrapper")
      main
        .header
          ul.header-nav
            li.header-nav__link 
              a(href="#") Меню один
            li.header-nav__link.active
              a(href="#") Меню два
            li.header-nav__link
              a(href="#") Меню три
          .header__logo1 
            a(href="#") Site Logo
        .bg
          h1 Главный заголовок
        section.offers
          ul
            li
              h4.offers__header Заголовок 1
              .offers__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic corrupti vitae sit alias, tenetur numquam fuga. Fugit accusantium excepturi placeat, dolore nulla consequuntur. Error ea, eius maiores dolore quos delectus.
            li
              h4.offers__header Заголовок 2
              .offers__text Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              button Order
            li
              h4.offers__header Заголовок 3
              .offers__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis cumque officiis quam facilis repudiandae vel, minima voluptas, quibusdam ex vero, praesentium nisi nobis recusandae temporibus labore corrupti quidem nam?
        section.video
          .video__wrapper_my 





      //- 	include blocks/header/header
      //- 	include blocks/banner/banner_tuning
      //- 	include blocks/offers/offers_tuning
      //- 	include blocks/tuning-illustration/tuning-illustration 

      //- 	include blocks/how-to/how-to_no-desctop-transform
      //- 	include blocks/video/video

      //- 	include blocks/expluatation/expluatation_no-transform
      //- 	include blocks/video/video_white
      //- 	include blocks/problems/problems_no-transform

      //- 	include blocks/order/order
      //- include blocks/footer/footer