section(class="technologies")
	div(class="technologies__wrapper")
		div(class="technologies__content")

			div(class="technologies__header text_center")
				h2 Весь спектр услуг по защите лакокрасочного покрытия на базе малярного цеха


			div(class="technologies__info")
				div(class="technologies__cards")

					div(class="technologies__item active")
						button(class="technologies__item-button" type="button")
							span(class="technologies__item-button-title") Защита переда
							//- span(class="technologies__item-button-info") Бампер, капот, боковые крылья и зеркала
							span(class="technologies__item-button-price") От 38 900 Р


						div(class="technologies__item-cotnent")
							div(class="technologies__item-img")
								img(class="lazy" data-src="i/technologies/1.png" alt="")
						
							div(class="technologies__item-info")
								div(class="technologies__item-info-row technologies__item-info-row_protect")
									div(class="technologies__item-info-title") Protect
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

								div(class="technologies__item-info-row")
									div(class="technologies__item-info-title") Нет аналога
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column technologies__item-info-column_empty")
										div(class="technologies__item-info-column technologies__item-info-column_empty")
										div(class="technologies__item-info-column technologies__item-info-column_empty")

					div(class="technologies__item")
						button(class="technologies__item-button" type="button")
							span(class="technologies__item-button-title") Защита переда
							//- span(class="technologies__item-button-info") Бампер, капот, боковые крылья и зеркала
							span(class="technologies__item-button-price") От 38 900 Р


						div(class="technologies__item-cotnent")
							div(class="technologies__item-img")
								img(class="lazy" data-src="i/technologies/1.png" alt="")
						
							div(class="technologies__item-info")
								div(class="technologies__item-info-row technologies__item-info-row_protect")
									div(class="technologies__item-info-title") Protect
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

								div(class="technologies__item-info-row")
									div(class="technologies__item-info-title") Нет аналога
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

					div(class="technologies__item")
						button(class="technologies__item-button" type="button")
							span(class="technologies__item-button-title") Защита переда
							//- span(class="technologies__item-button-info") Бампер, капот, боковые крылья и зеркала
							span(class="technologies__item-button-price") От 38 900 Р


						div(class="technologies__item-cotnent")
							div(class="technologies__item-img")
								img(class="lazy" data-src="i/technologies/1.png" alt="")
						
							div(class="technologies__item-info")
								div(class="technologies__item-info-row technologies__item-info-row_protect")
									div(class="technologies__item-info-title") Protect
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

								div(class="technologies__item-info-row")
									div(class="technologies__item-info-title") Нет аналога
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

					div(class="technologies__item")
						button(class="technologies__item-button" type="button")
							span(class="technologies__item-button-title") Защита переда
							//- span(class="technologies__item-button-info") Бампер, капот, боковые крылья и зеркала
							span(class="technologies__item-button-price") От 38 900 Р


						div(class="technologies__item-cotnent")
							div(class="technologies__item-img")
								img(class="lazy" data-src="i/technologies/1.png" alt="")
						
							div(class="technologies__item-info")
								div(class="technologies__item-info-row technologies__item-info-row_protect")
									div(class="technologies__item-info-title") Protect
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

								div(class="technologies__item-info-row")
									div(class="technologies__item-info-title") Нет аналога
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

					div(class="technologies__item")
						button(class="technologies__item-button" type="button")
							span(class="technologies__item-button-title") Защита переда

							span(class="technologies__item-button-price") От 38 900 Р


						div(class="technologies__item-cotnent")
							div(class="technologies__item-img")
								img(class="lazy" data-src="i/technologies/1.png" alt="")
						
							div(class="technologies__item-info")
								div(class="technologies__item-info-row technologies__item-info-row_protect")
									div(class="technologies__item-info-title") Protect
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%

								div(class="technologies__item-info-row")
									div(class="technologies__item-info-title") Нет аналога
									div(class="technologies__item-info-table")
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Средний чек
											span(class="technologies__item-info-column-value") От 38 900 Р
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Материал
											span(class="technologies__item-info-column-value") 30%
										div(class="technologies__item-info-column")
											span(class="technologies__item-info-column-title") Работы
											span(class="technologies__item-info-column-value") 70%
