header(class="header")
	div(class="header__content center")
		button(class="header__nav-button" type="button")
			span
			span
			span
		a(href="/" class="header__logo")
			img(src="i/logo.svg" alt="protect логотип")
		div(class="header__nav-block")
			button(type="button" class="header__close-nav")
				span
				span
			nav(class="header__nav")
				ul
					li
						span(class="header__nav-submenu-button")
							span Продукты
						ul
							li
								a(href="/product-1.html")
									span Базовый слой
							li
								a(href="/product-2.html")
									span Разбавитель базового слоя
							li
								a(href="/product-3.html")
									span Финишный глянцевый слой
							li
								a(href="/product-4.html")
									span Финишный матовый слой
							li
								a(href="/product-5.html")
									span Разбавитель финишного матового слоя
							li
								a(href="/product-6.html")
									span Разбавитель финишного глянцевого слоя
							li
								a(href="/product-7.html")
									span Оптимайзер

					li
						span(class="header__nav-submenu-button")
							span Применение
						ul
							li
								a(href="/products.html")
									span Как работает Protect
							li
								a(href="/defence.html")
									span Защита
							li
								a(href="/tuning.html")
									span Тюнинг
							li
								a(href="/chrome.html")
									span Модификация хрома
							li
								a(href="/disc.html")
									span Диски


					li 
						span(class="header__nav-submenu-button")
							span Сотрудничество
						ul
							li
								a(href="/offer-1.html")
									span Предложение для дистрибьютеров
							li
								a(href="/offer-1.html")
									span Решение для СТО
							li
								a(href="/offer-1.html")
									span Решение для детейлинг-центра
							li
								a(href="/offer-1.html")
									span Решение для диллерских автосалонов
					li
						span(class="header__nav-submenu-button")
							span О нас
						ul
							li
								a(href="/contacts.html")
									span Контакты
							li
								a(href="#")
									span Дистрибьюторы
							li
								a(href="#")
									span Авторизованные центры


			button(class="header__nav-block-order" type="button") Оставить заявку

			div(class="header__nav-block-social")
				ul
					li
						a(href="#" target="_blank" class="js-icon" data-icon="vk")
					li
						a(href="#" target="_blank" class="js-icon" data-icon="facebook")
					li
						a(href="#" target="_blank" class="js-icon" data-icon="instagram")


			a(class="header__nav-block-tel" href="tel:89854691299") 8 (985) 469-12-99

	
		div(class="header__social")
			ul
				li
					a(href="#" target="_blank" class="js-icon" data-icon="whatsapp")
				li
					a(href="#" target="_blank" class="js-icon" data-icon="phone") 